<h1> New division </h1>
<form action="/wizard_divide">
<div>
<label for="number1"> Divide this: </label> <input id="number1" type="text" name="first_num"> 
<label for="number2"> by this: </label> <input id="number2" type="text" name="second_num">
<button> Divide! </button></div>
</form>