<h1> New subtraction </h1>
<form action="/wizard_subtract">
<div>
<label for="number1"> Subtract this: </label> <input id="number1" type="text" name="first_num"> 
<label for="number2"> from this: </label> <input id="number2" type="text" name="second_num">
<button>Subtract!</button></div>
</form>